@import "./header.css";
@import "./footer.css";
@import "./new-arrivals.css";
@import "./banner-content.css";
@import "./shop-page/header.css";
@import "./shop-page/filter-container.css";
@import "./product-page/product-page.css";
@import "./cart-page/cart-page.css";

.main {
    width: 100%;
    padding: 2rem;
    min-height: calc(100dvh - 111px);
    box-sizing: border-box;
    margin-inline: auto;
    background-color: var(--color-lighter-gray);
}