@import "./header.css";
@import "./footer.css";
@import "./new-arrivals.css";
@import "./banner-content.css";

.main {
    width: 100%;
    max-width: 1280px;
    padding: 2rem;
    min-height: calc(100dvh - 111px);
    box-sizing: border-box;
    margin-inline: auto;
    background-color: var(--color-lighter-gray);
}