@import "./reset.css";
@import "./fonts.css";
@import "./components/index.css";
@import "./components/product-card.css";

:root {
    font-size: 8px;
    /*Colors*/
    --color-primary: #ED1C24;
    --color-black: #191919;
    --color-white: #ffffff; 
    --color-darker-gray: #cccccc;
    --color-lighter-gray: #fafafa;
    --color-second-lighter: #A86A3D; 
}

* {
    font-family: "Poppins";

}
p, a, span {
    font-size: 2rem;
}


.img-logo {
    display: block;
}

.icon {
    stroke: currentColor;
}

